@use 'variables'  as v;

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Capriola&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');

body {
    margin: 0px 0px 0px 0px;
    font-family: 'IBM Plex Sans', sans-serif;
}

// header stuff
#title {
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 10px 0px;
    text-align: center;
    font-family: 'Tajawal';
    color: v.$tan;
    background-color: v.$black2;
}

#nav_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 10 !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
    background-color: v.$tan;
    color: v.$black;
}

.nav_item {
    width: 25%;
    box-sizing: border-box;
    text-align: center;

    &:hover {
        cursor: pointer;
        font-weight: bolder;
    }
}

// footer stuff
footer {
    width: 100%;
    height: 80px;
    background-color: v.$black3;
}

// parallax stuff
.parallax {
    position: relative;
    min-height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 30px;
}

.par_caption {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
    text-align: center;
}

.par_border {
    display: inline-block;
    padding: 10px 10px 10px 10px;

    transition: all 0.3s ease-out;
    background-color: v.$tan;
    color: v.$black;
    outline: 3px solid v.$black;

    font-size: 45px;
}

.par_interactive {
    &:hover {
        cursor: pointer;
        font-size: 50px;
        color: v.$tan;
        background-color: v.$black;
    }
}

// gallery stuff
#gallery_cont {
    display: flex;
    justify-content: center;
    margin: 20px 0px 40px 0px;
    height: 400px;
    width: 100%;
}

#gallery {
    width: 600px;
    background-size: cover;
    background-repeat: no-repeat;
}

.arrow_container {
    display: flex;
    align-items: center;
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 100px;
    font-size: 50px;
    color: v.$white;

    &:hover {
        cursor: pointer;
        font-weight: bolder;
    }
}

#left_arrow {
  margin-right: 10px;
}

#right_arrow {
  margin-left: 10px;
}

