#sign_up {
  background-image: url("../images/degenerate.jpg");
}

#content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.intro_blurb {
  width: min(700px, 80%);
  font-size: 20px;
}